.us{
    height: 90vh;
    margin-top: 40px;

}
.body{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.img{
    width: 45%;
}
.description{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}